@using ITIManagement.BLL.ViewModels.UserVM
@using ITIManagement.DAL.Models
@model CreateUserVM

<h2>Create New User</h2>

<form asp-action="Create" method="post">

    @Html.Partial("_UserForm", Model)

    <button type="submit" class="btn btn-primary mt-3">Add</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}